@charset "utf-8";
/*---------------------------------------------
	파일명 : main
	설　명 : 포트폴리오 메인페이지
	클래스명 : 카멜케이스, 태그역활 + 컨텐츠내용 조합, 넘버링은 하이픈
	작성순서 : 1. 레이아웃  2.크기/간격  3.박스모양  4.폰트  5.기타
			position / display / float / width / height / margin / padding / border / background / font / overflow / etc...
---------------------------------------------*/

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 화면 가운데 정렬 */
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

/* 배경 */
.background{position: fixed; top: 0; right: 0; bottom: 0; left: 0;}
.background li{position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
.background .bgSection1::after{content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);;}
.background .bgSection1 video{width: 100%; height: 100%; object-fit: cover;}

/* 섹션 1 */
#section1 .areaSubTitle{position: absolute; top: 100px; left: 120px; right: 120px; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center;}
#section1 .areaSubTitle .left{display: flex; font-size: 30px; color: rgba(255,255,255,0.5);}
#section1 .areaSubTitle .right{display: flex;}
#section1 .areaSubTitle .right img{width: 145px;}
#section1 .areaTitle{position: absolute; bottom: 180px; left: 120px;}
#section1 .areaTitle .first{height: 150px; line-height: 150px; margin-bottom: 15px;; overflow: hidden;}
#section1 .areaTitle .first span{display: block; font-size: 150px; font-weight: 900; color: #FFF; transform:translateY(150px); transition: transform 0.6s;}
#section1 .areaTitle .second{height: 68px; overflow: hidden;}
#section1 .areaTitle .second img{display: block; height: 100%; transform:translateY(68px); transition: transform 0.6s;}

#section1.step1 .areaTitle .first span{transform:translateY(0);}
#section1.step1 .areaTitle .second img{transform:translateY(0);}

/* 섹션 2 */
#section2 .areaDoor{position: absolute; top:0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; overflow: hidden;}
#section2 .areaDoor li{float: left; width: 33.333%; height: 100%; background-color: rgba(0,0,0,0.7);}
#section2 .areaDoor .door1{transform:translateY(100%); transition: transform 0.6s;}
#section2 .areaDoor .door2{transform:translateY(100%); transition: transform 0.6s;}
#section2 .areaDoor .door3{transform:translateY(100%); transition: transform 0.6s;}

#section2 .areaOpening .allinone{position: relative; height: 90px; line-height: 90px; margin-bottom: 60px; overflow: hidden; text-align: center;}
#section2 .areaOpening .allinone span{display: block; font-size: 90px; font-weight: 700; color: #FFF; transform:translateY(150px); transition: transform 0.6s;}
#section2 .areaOpening .open{position: relative; height: 150px; line-height: 150px; overflow: hidden; text-align: center;}
#section2 .areaOpening .open span{display: block; font-size: 150px; font-weight: 900; color: #FFF; transform:translateY(150px); transition: transform 0.6s;}

#section2.step1 .areaDoor .door1{transform:translateY(0);}
#section2.step2 .areaDoor .door2{transform:translateY(0);}
#section2.step3 .areaDoor .door3{transform:translateY(0);}
#section2.step4 .areaOpening .allinone span{transform:translateY(0);}
#section2.step5 .areaOpening .open span{transform:translateY(0);}

/* 섹션 3 */
#section3{background-color: #000;}
#section3 h3{position: absolute; top: 160px; left: 185px; font-family: "Montserrat", sans-serif; font-size: 30px; font-weight: 500; color: #FFF;}
#section3 .ulContents{position: relative; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center; margin: 80px 185px 0 185px;}
#section3 .liContents{position: relative; display: flex; width: 22%; background-color: #000; padding-bottom: 35%; opacity:0; transition: opacity 0.6s;}
#section3 .liContents video{position: absolute; top: 0; right: 0; bottom: 0; left: 0; height: 100%; opacity: 0.7; border-radius: 30px; object-fit: cover;}
#section3 .liContents .number{position: absolute; top: 50px; left: 40px; z-index: 10; color: #FFF; font-size: 20px; font-weight: 400;}
#section3 .liContents .content{position: absolute; bottom: 50px; left: 40px; z-index: 10; line-height: 40px; font-size: 28px; color: #FFF;}
#section3 .liContents .content p{line-height: 44px; margin-bottom: 20px; font-family: "Montserrat", sans-serif; font-size: 44px; font-weight: 500; color: inherit;}

#section3.step1 .liContents:nth-of-type(1){opacity: 1;}
#section3.step2 .liContents:nth-of-type(2){opacity: 1;}
#section3.step3 .liContents:nth-of-type(3){opacity: 1;}
#section3.step4 .liContents:nth-of-type(4){opacity: 1;}


/* 섹션 4 */
#section4{background-color: #000;}
#section4 h3{position: absolute; top: 160px; left: 185px; font-family: "Montserrat", sans-serif; font-size: 30px; font-weight: 500; color: #FFF;}
#section4 .ulHistory {position: relative; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: flex-start; height: 100%; margin: 0 185px; padding-top: 260px; box-sizing: border-box;}
#section4 .liHistory{position: relative; display: flex; width: 20%; height: 100%;}
#section4 .liHistory::before{content: ""; position: absolute; top: 0; left: 0; width: 3px; height: 100%; background-color: #2A2A2A;}
#section4 .liHistory:nth-of-type(5)::before{background-color: #69AFFF;}
#section4 .liHistory{position: relative; width: 100%; height: auto;}
#section4 .liHistory .bar{position: absolute; top: ;}